.container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  min-height: 100vh;
}

.container>h1 {
  font-size: 35px;
  text-shadow: 0px 0px 7px black;
  margin-bottom: 30px;

}

.form-div {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  gap: 50px;
  background-color: var(--neutral-medium);

  border-radius: 10px;
  padding: 40px 70px;
  box-shadow: 5px 10px 20px rgb(40, 40, 40)
}



.input-div {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  gap: 5px;
}

.input-div>label {
  font-size: 20px;
}

.input-div>input {
  margin-bottom: 20px;
  color: var(--primary-color);
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.form-div>button {
  width: 100%;
  margin-top: 50px;
  align-self: center;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-dark);
  color: var(--neutral-medium);
  font-weight: 600;
}

.form-div>button:hover {
  opacity: 0.8;
}


@media(max-width:1000px) {
  .container>h1 {
    font-size: 25px;
  }
}

@media(max-width:800px) {
  .form-div {
    padding: 20px 30px;
    width: 80%;

  }
}


@media(max-width:500px) {
  .form-div {
    width: 80%;
  }

  .input-div>label {
    font-size: 14px;
    font-weight: 600;
  }

  .input-div>input {
    margin-bottom: 15px;    
    height: 30px;    
    padding: 3px 6px;
    font-size: 12px;
  }
}