.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  position: relative;
  padding: 20px;
  max-width: 1600px;
  margin:0 auto;
  /* background-color: beige  */

}

.fixed-select {
  position: absolute;
  left: 10px;
  top: 10px
}

.fixed-back-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--primary-color);
  color: var(--neutral-medium);
  border: 1px solid var(--neutral-dark);
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  width: 130px;
}

.fixed-back-button:hover {
  border-color: #999;
}


.select-class {
  background-color: var(--primary-color);
  color: var(--neutral-medium);
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-class:hover {
  border-color: #999;
}

.select-class:focus {
  border-color: var(--primary-light);
}

.select-class option {
  color: var(--neutral-medium);
}

.select-class:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.selected-sport-div {
  width: 900px;
  height: fit-content;
  background-color: var(--primary-dark);
  position: relative;
  overflow: hidden;
  padding: 15px 50px;
  border-radius: 5px;
}

.selected-sport-div>h1 {
  font-size: 35px;
  padding: 5px 15px 0 15px;
  text-shadow: 0px 0px 7px black;
}

.selected-sport-div>h1>span {
  font-size: 12px;
  color: rgb(126, 126, 126)
}

/* //* CAROUSEL */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
}

.carousel img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
}

.slide-hidden {
  display: none;
}

.arrow {
  color: white;
  position: absolute;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #555);
  opacity: 0.2;
  user-select: none;
}

.arrow:hover {
  opacity: 1
}

.arrow-left {
  left: 1rem
}

.arrow-right {
  right: 1rem
}

.f-c-left img {
  height: 100%;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

/* //* CAROUSEL */

.choose-day-and-duration-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  gap:20px
}

.choose-day-and-duration-div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  width: auto;
  gap: 18px;
}

.time-div button {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--neutral-medium);
  font-size: 25px;
  outline: none;
  border: 1px solid #999;
}

.time-div button:hover {
  background-color: var(--primary-light);

}

.time-div button:active {
  background-color: #777777;
}


.calories-burned {
  background-color: rgba(2, 2, 71, 0.154);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.finish-and-select {
  width: 206px;
  padding: 10px 14px;
  border: none;
  background-color: var(--info-color);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.finish-and-select:hover {
  background-color: var(--success-color);
}




.container2 {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container2>p {
  font-size: 25px;
}

.container2>p>a {
  color: var(--primary-dark);
  font-weight: 700;
}


@media(max-width:1250px) {
  .selected-sport-div {
    width: 700px;
  }
}


@media(max-width:1050px) {
  .selected-sport-div {
    width: 700px;
  }

  .container1 {
    padding-top: 60px;
  }
}


@media(max-width:650px) {
  .container1 {
    padding-top: 60px;
    align-items: flex-start;
  }

  .select-class,
  .fixed-back-button {
    padding: 8px 12px;
    font-size: 10px;
  }

  .selected-sport-div {
    height: fit-content
  }

  .selected-sport-div>h1 {
    font-size: 25px;
    padding: 0;
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 5px 15px;
  }

  .carousel img {
    height: 100%;
  }

  .finish-and-select {
    width: 120px;
    padding: 4px 10px;
    font-size: 12px;
    height: 34px;
  }

  .calories-burned {
    font-size: 10px;
    padding: 0;
    margin: 10px 0 5px 0;
  }

  .choose-day-and-duration-div {
    flex-direction: column;
  }

  .choose-day-and-duration-div>div {
    width: 100%;
  }

  .arrow {
    width: 45px;
    height: 45px;
  }
}


@media(max-width:400px) {
  .selected-sport-div>h1 {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .selected-sport-div>h1>span {
    font-size: 8px;
  }

  .carousel{
    height: 200px;
  }

  .arrow {
    width: 30px;
    height: 30px;
  }

  .selected-sport-div {
    padding: 20px;
  }

  .arrow-left {
    left: 3px
  }

  .arrow-right {
    right: 3px
  }

  .time-div button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .time-div>p{
    font-size: 14px;
  }
}